*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, 
body,
#root{
    width: 100%;
    height: 100vh;
}


body{
    padding: 0 60px;
}



.MuiTableCell-root{
    border: 1px solid #DBDFE2;
    border-top: none !important;
}



[class^="title-"],
[class*=" title-"],
.dropdown-115,
.dropdown-118:focus::after,
.dropdown-97:focus::after{
    border: none !important;
    outline: none !important;
    background-color: initial;
}



.title-142{
    color: initial;
    background: none;
}



.root-108:hover,
.root-100:hover,
.root-109:hover{
    background: none;
    color: #1A6BA9;
}


/* [class^="root-"]:hover,
[class*=" root-"]:hover{
    background-color:unset;
    color: unset;
} */

/* .root-110:hover{
    background: #1A6BA9;
    color: white;
} */



.dropdown-119{
    font-size: 14px;
}