*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, 
body{
    width: 100%;
    height: 100vh;
}



.main-content{
    max-width: 1480px;
    margin: 0 auto;
}



.MuiTableCell-root{
    border: 1px solid #DBDFE2;
    border-top: none !important;
}



.title-99,
.title-139,
.title-141,
.title-162,
.title-142,
.title-143,
.title-116,
.title-120,
.dropdown-115,
.dropdown-118:focus::after,
.dropdown-97:focus::after{
    border: none !important;
    outline: none !important;
}



.title-142{
    color: initial;
    background: none;
}



.root-108:hover,
.root-100:hover,
.root-109:hover{
    background: none;
    color: #1A6BA9;
}


.root-110:hover{
    background: #1A6BA9;
    color: white;
}



.dropdown-119{
    font-size: 14px;
}